/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|IBM+Plex+Mono|Poppins');

* {
  font-family: 'Didact Gothic'
}

body {
  margin: 0;
  padding: 0;
}


/* Styles */

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed grey; */
}

input {
  font-size: 90%;
  height: 40px;
  width: 100%;
  /* border: 2px dashed grey; */
}

textarea {
  font-size: relative;
  height: 40px;
  width: 100%;
}

input::placeholder {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: bolder;
}

textarea::placeholder {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: bolder;
}

div.sidebar button {
  width: 100%;
}

div.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.sidebar ul li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 0 5px;
}

div.sidebar ul li:first-child {
  border-top: 1px solid grey;
}

div.sidebar ul li:hover {
  /* background-color: yellow; */
  background-image: linear-gradient(#E6E6E6, #F7F7F7);
  background-repeat: no-repeat;
}


/* Layout Styles */
.app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
  margin: 10px 10px 0 10px;
}

.container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.master-detail-element {
  float:left;
  margin: 10px 0px;
  padding: 20px;
  border: 2px dashed grey;
}

.search-bar {
  margin: 10px ;
  padding: 10px;
  width: 95%;
  align-items: center;
}


.sidebar {
  width:25%;
  overflow: scroll;
}

.detail {
  width:75%;
}

.render-recipes {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  column-count: 2;
/* justify-content: center;
align-items: center; */
}


.recipe-page {
  justify-content: center;
}

.ingredient-list {
  columns: 5 auto;
  font-size: 20px;
}

.recipe-card {
  break-inside: avoid;
  width: 85%;
  height: 40%;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px dashed grey;
}

.columns-cards {
  columns: 2 auto;
}


form.new-recipe-form {
  border: dashed black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.button-row {
  margin-top: 10px;
}


/* Button Style */
input[type="submit"] {
  height: auto;
  width: auto;
}

button, input[type="submit"] {
  width: 125px;
  border-radius: 100px;
  margin-left: 40px;
  margin-right: 10px;
  padding: 5px 35px;
  border: 0px;
  background-color: cadetblue;
  /* background-image: linear-gradient(to right top, #8C33E3, #696CE8, #4A9EEC); */
  background-repeat: no-repeat;
  color: white;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
}

button:hover, .nav-bar:hover, input[type="submit"]:hover {
  /* background-image: linear-gradient(to right top, #8A2387, #E94057, #F27121); */
  background-color: teal;
  background-repeat: no-repeat;
}

button:focus, input[type="submit"]:focus {
  outline: none;
}

.close {
  width: 10px;
  height: 25px;
  font: 14px;
  text-align: center;
}



